# Ignore virtual environment
backend/venv_64/
# Ignore python cache
**/__pycache__/
**/*.pyc
# Ignore MLflow tracking DB and artifacts
backend/mlflow.db
backend/*.db
# Ignore data and model files
data/
models/
reports/
# Ignore IDE files
*.idea/
*.vscode/
